# ==================================================
# Python
# ==================================================
__pycache__/
*.py[cod]
*.so

# ==================================================
# Virtual Environment
# ==================================================
.venv/
venv/
env/

# ==================================================
# Jupyter Notebook
# ==================================================
.ipynb_checkpoints/

# ==================================================
# IDE
# ==================================================
.vscode/
.idea/

# ==================================================
# macOS
# ==================================================
.DS_Store

# ==================================================
# Environment Variables
# ==================================================
.env

# ==================================================
# Dataset
# ==================================================
# Ignore all dataset files
data/dataset/cleaning_data/**
data/processed/images/**
data/processed/labels/**


# Keep directory structure
!data/processed/images/train/
!data/processed/images/train/.gitkeep
!data/processed/images/val/
!data/processed/images/val/.gitkeep
!data/processed/images/test/
!data/processed/images/test/.gitkeep

!data/processed/labels/train/
!data/processed/labels/train/.gitkeep
!data/processed/labels/val/
!data/processed/labels/val/.gitkeep
!data/processed/labels/test/
!data/processed/labels/test/.gitkeep

# Keep dataset config
!data/processed/data.yaml

# ==================================================
# Outputs
# ==================================================
outputs/checkpoints/
outputs/predictions/
outputs/figures/

# Keep Kaggle submission files
!outputs/submissions/

# ==================================================
# Model Weights
# ==================================================
*.pt
*.pth
*.onnx
*.engine

# ==================================================
# Experiment Tracking
# ==================================================
wandb/
runs/
logs/

# ==================================================
# Cache
# ==================================================
.cache/ 